.display-4{
    color: white
}

.lead{
    color: white
}

.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

body{
    background-color: lightcyan;
    text-align: center;
}

.jumbotron{
    background-image:url(IMG_2268.JPG);
    background-size: cover;
    text-align: left;
}

.container-md{
    text-align: left;
}

.about-img1{
    width: 200px;
}

.about-img2{
    width: 350px;
}

.about-img3{
    width: 350px;
}

.containerHome{
    text-align: center;
}